snippet d
describe("${1:${VISUAL}}", () => {
  $0
});
endsnippet

snippet di
describe("${1:${VISUAL}}", () => {
  it("${2:${VISUAL}}", () => {
    $0
  });
});
endsnippet

snippet i
it("${1:${VISUAL}}", () => {
  $0
});
endsnippet
